<!DOCTYPE html>
%html(lang="en" ng-app="owlci")
  %head
    <title>Owl</title>
    %link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:300,400,500,900')
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    %base(href="/")
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  %body(ng-controller='AppCtrl' ng-class="currentAppClass")

    = yield

    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'
    = javascript_include_tag 'application'
